.dark{
    background-color:#1a1a1d;
}
input{
    background-color:#32323b;
    color:#feae4e;
    border:none;
    border-bottom: 2px solid rgb(0, 140, 255);
}
textarea:focus {
  background: #e71818;
}
.self-center{
    margin:auto;
    text-align: center;
}
.gold{
    background:#32323b;
    color: #feae4e;
    border: none;
    border-bottom: 2px solid rgb(0, 140, 255, 0.300);
    margin-bottom: 10px;
}
.grad{
    background-image: linear-gradient(to right, rgba(0, 50, 150, 0.300), #32323b);
}